<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pagewiden"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.accenture.cdi.widen.station.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.accenture.cdi.widen.station.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.accenture.cdi.widen.station.ScenarioDetailsActivity"
            android:label="@string/title_activity_scenario_details"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.accenture.cdi.widen.station.EditionScenarioNomActivity"
            android:label="@string/title_activity_edition_scenario_nom"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.accenture.cdi.widen.station.EditionScenarioDeclencheurActivity"
            android:label="@string/title_activity_edition_scenario_declencheur"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.accenture.cdi.widen.station.EditionScenarioBlockActivity"
            android:label="@string/title_activity_edition_scenario_block"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.accenture.cdi.widen.station.MyObjectListActivity"
            android:label="@string/title_myobject_list" >
        </activity>
        <activity
            android:name="com.accenture.cdi.widen.station.MyObjectDetailActivity"
            android:label="@string/title_myobject_detail"
            android:parentActivityName="com.accenture.cdi.widen.station.MyObjectListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyObjectListActivity" />
        </activity>
    </application>

</manifest>
